In [1]:
import pandas as pd

# Panda Series

### Creating Panda Series from a List

In [7]:
data = [10, 20, 30, 40, 50]
series = pd.Series(data)
series

0    10
1    20
2    30
3    40
4    50
dtype: int64

# Panda DataFrame

### Creating Panda Dataframe from a Dictionary, Where key is the column name and Values are list

In [5]:
data = {
    'Name': ['John', 'Jane', 'Mike', 'Emily'],
    'Age': [25, 30, 35, 28],
    'City': ['New York', 'London', 'Paris', 'Sydney']
}

df = pd.DataFrame(data)

In [6]:
df

    Name  Age      City
0   John   25  New York
1   Jane   30    London
2   Mike   35     Paris
3  Emily   28    Sydney